@import "color";

#privacypolicy-page {
    .section-inner {
        .policy-text {
            text-align: left;
        }
        .policy-cont {
            text-align: left;
            h4.head {
                margin-top: 30px;
            }
        }
    }
}